body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
}

div {
  margin: 20px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  padding: 8px;
}

button {
  margin: 1em;
  padding: 8px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: rgb(69, 76, 160);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px;
}

li {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

script {
  display: none; /* Hide the script tag, as it's not visible on the page */
}
